@charset "UTF-8";
@font-face {
    font-family: HammersmithOne;
    src: url(fonts/HammersmithOne-Regular.ttf);
    font-family: Maxwell Regular;
    src: url(fonts/MAXWELL\ REGULAR.ttf);
    font-family: Maxwell bold;
    src: url(fonts/MAXWELL\ BOLD.ttf);

}
*{
    margin: 0;
    padding: 0;
}
:root{
    --cor_header: #FF0000;
    --cor_fundo: #EDD484;
    --cor_menu: #C71B1B;

    --font_texto: Maxwell;
    --font_titulo: HammersmithOne;
}
body{
    background-color: white;
}
body::-webkit-scrollbar{
    display: none;
}
header{
    text-align: center;
    background-color: var(--cor_header);
    height: 10%;
    width: 100%;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.500);
}
header h1{
    font-family: var(--font_titulo);
    color: white;
    font-size: 4.5rem;
    padding: 20px 10px;
    text-align: center;
}
header h1:hover{
    color: #000000;
}
header p{
    font-family: var(--font_texto);
    color: white;
    text-align: center;
    font-size: 2.2rem;
    padding: 20px;
}
nav{
    display: flex;
    align-items: center;
    align-content: center;
    padding: 5px;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
nav a{
    color: white;
    font-size: 1.3rem;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    transition-duration: 0.7s;  
}
a:hover{
    background-color: #940000;
    transform: scale(1.2);
}
main{
    height: 100dvw;
    width: 100%;
}
main h1{
    font-family: var(--font_titulo);
    text-align: start;
    margin-top: 10px;
    font-size: 2.5rem;
    padding: 20px;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor_header);
    max-height: 15%;
    width: 100%;
}
nav .redes-sociais{
    display: flex;
    gap: 10px;
}
footer img{
    width: 20px;
    height: 20px;
    hover{
        width: 30px;
        height: 30px; 
}
}
footer nav a{
    padding: 7px;
    margin-top: 7px;
}
footer nav a:hover{
    background-color: #ffffff;
    transform: scale(1.2);
    color:#000000;
    text-decoration: underline;
}
footer p{
    font-family: var(--font_texto);
    color: white;
    text-align: center;
    font-size: 1.5rem;
    padding: 10px;
}
